*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Encabezado */

/* Barra de navegación */

/* Logo */

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.navbar-brand img {
    height: 30px;
}

.navbar-brand p {
    margin: 0px;
    margin-left: 10px;
    font-weight: 800;
    color: rgb(72, 194, 194);

}

/* Navbar button responsive */

@media (max-width: 991px) {
    .burgernav {
        border: 1px solid rgb(216, 216, 216) !important;
        margin-right: 2%;
    }

    .main-nav {
        display: none;
    }

    .nav-responsive {
        visibility: visible;
    }
}

@media (max-width: 325px) {
    .navbar-brand p {
        display: none;
    }
}

/* Portada Carrousel */

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

/* Servicios */

/* Sección Servicios */
#services {
    padding: 80px 20px 60px 20px;
    /* background-color: rgb(34, 207, 184); */
    background-image: linear-gradient(160deg, rgb(34, 207, 184),rgb(25, 191, 206));
    text-align: center;
}

/* Sección Servicios: Títular */

#services h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

/* Alineación de elementos Cards */

#content-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    gap: 25px;
    margin: 40px 0px;
    justify-content: center;
}

/* Sección Servicios: Cards */

.card-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    max-width: 250px;
    border: 0px;
}

/* Sección Servicios: Imagen */

.card-services img {
    width: 200px;
}

/* Sección Servicios: Textos */

.card-services h3 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
}

.card-services p {
    text-align: center;
}